<template>
  <div id="app">
   <router-view></router-view>
  </div>
</template>

<script>
import A1 from "./components/A1"
export default {
  name: 'App',
  components:{
      A1
  },
}
</script>

<style>

</style>